* {
    font-size: 1.3rem;
}

body {
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: grid;
    border: solid 2px #a9a9a9;
    border-radius: 5%;
    grid-template-columns: repeat(4, 1fr);
    background-color: #22233b;
    width: 400px;
    height: 600px;
}

.equation {
    align-self: center;
    color: #d7d7d7;
    border-radius: 5%;
    font-size: 2rem;
    height: 50%;
    grid-column: span 4;
}

.calc__button {
    border: 1px solid black;
    border-radius: 40%;
    scale: 90%;
}

.button--dark {
    background-color: #909090;
}

.button--light {
    background-color: #cdcdcd;
}